[tool.bumpversion]
current_version = "2.1.0"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)"
serialize = ["{major}.{minor}.{patch}"]
search = "{current_version}"
replace = "{new_version}"
regex = false
ignore_missing_version = false
ignore_missing_files = false
tag = true
sign_tags = false
tag_name = "v{new_version}"
tag_message = "Bump version: {current_version} → {new_version}"
allow_dirty = true
commit = true
message = "Bump version: {current_version} → {new_version}"
moveable_tags = []
commit_args = ""
setup_hooks = []
pre_commit_hooks = [
	"apptainer build --force fastqc-summary.sif fastqc-summary.def",
]
post_commit_hooks = [
	"apptainer push fastqc-summary.sif oras://ghcr.io/utia-gc/fastqc-summary:${BVHOOK_NEW_TAG}",
	"apptainer push fastqc-summary.sif oras://ghcr.io/utia-gc/fastqc-summary:latest",
]

[[tool.bumpversion.files]]
filename = "CHANGELOG.md"
search = "## [Unreleased]"
replace = "## [Unreleased]\n\n## [{new_version}] - {now:%Y-%m-%d}"

[[tool.bumpversion.files]]
filename = "fastqc-summary.def"
search = "Version v{current_version}"
replace = "Version v{new_version}"

[[tool.bumpversion.files]]
filename = "README.md"
search = "fastqc-summary@v{current_version}"
replace = "fastqc-summary@v{new_version}"

[[tool.bumpversion.files]]
filename = "README.md"
search = "fastqc-summary:v{current_version}"
replace = "fastqc-summary:v{new_version}"
